footer {
    display: flex;
    min-height: 110px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #000;
}

footer p {
    color: #FFF;
    text-align: center;

    /* Title/Small */
    font: 500 12px/150% Manrope;
}